
@media (max-width:1250px) {
    .menu-section li a {
      
        font-size: 14px;
        font-weight: 500;
        padding: 10px 9px;
      
    }
    .s-icon {
        font-size: 16px;
        margin-top: 2px;
    }
    .call-icon {
        font-size: 26px;
        margin-top: 5px;
    }
    .call-content a {
     
        font-size: 14px;
    }
    .call-content span {
        color: #606060;
        font-size: 14px;
    }
    .btn-primary {
     
        padding: 12px 25px;
    }
}

@media (max-width:1096px) {
    .menu-section li a {
      
        font-size: 12px;
    }
    .navbar-brand img{
        width: 100px;
    }
    .s-icon {
        font-size: 14px;
        margin-top: 2px;
    }
    .call-content a {
     
        font-size: 12px;
    }
    .call-content span {
        color: #606060;
        font-size: 12px;
    }
    .btn-primary {
     
        padding: 7px 40px;
    }
}


@media all and (max-width:995px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 200px;
    }
    .header-call {
        width: 390px;
        margin: 50px auto;

    }
    .menu-section li .privet{
        position: absolute;
        top: 300%;
        width: 933px;
        background-color: #fff;
        list-style: none;
        padding: 10px;
        box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
        visibility: hidden;
        opacity: 0;
        transition: all .4s ease-in-out;
        display: flex;
        justify-content: center;
        margin-left: -277px;
        flex-wrap: wrap;

    
    }
    .menu-section li .privet li a{
        font-size: 12px !important;
    }
    
    .menu-section li .privet-s li a{
        font-size: 12px !important;
    }
    .menu-section li .privet-s li{
        padding: 5px 0px;
    }
    
    .menu-section li a {
        font-size: 15px;
    }
}
@media (max-width:800px) {
    .menu-section li .privet-s{
        left: -50px !important;
    }
    .menu-section li .home-s{
        left: 0px !important;
    }
    .menu-section li .privet {
       
        width: 600px;
        margin-left: -114px;
    }
    .fas.fa-search {
        display: none;
    }
    .fas.fa-phone-volume {
        font-size: 30px !important;
    }
}
@media (max-width:650px) {
    .menu-section li .privet {
       
            width: 450px;
            margin-left: -37px;
        
    }
    .menu-section li .privet li{
     padding: 3px 0px;
        
    }
    .menu-section li .privet-s{
        left: -100px !important;
    }
    .menu-section li .home-s{
        left: 0px !important;
    }
}
@media (max-width:556px) {
    .menu-section li a {
        font-size: 12px;
    }
    .menu-section li .privet {
        margin-left: -63px;
    }
    .menu-section li .privet li a{
        font-size: 10px !important;
    }
    
    .menu-section li .privet-s li a{
        font-size: 10px !important;
    }
}
@media (max-width:556px) {
    .menu-section li a {
        font-size: 10px;
    }
    .menu-section li .privet {
        margin-left: -60px;
        width: 400px;
    }
    .menu-section li .privet li a{
        font-size: 8px !important;
    }
    .menu-section li .privet-s li a{
        font-size: 8px !important;
    }
    .menu-section li .privet-s li{
        padding: 0 !important;
    }
    .menu-section li .privet-s{
       width: 180px !important;
    }
}
@media (max-width:420px) {
    .menu-section li a {
        font-size: 9px;
        padding: 0px 5px;
    }
    .menu-section li .privet {
        margin-left: -38px;
        width: 300px;
    }
    .menu-section li .privet li {
      padding: 0;
    }
    .btn-primary {
        padding: 7px 30px;
        font-size: 13px;
    } 
    .fas.fa-phone-volume {
        font-size: 25px !important;
    }
   

}
@media (max-width:360px){
    .header-call {
       
        margin-left: -15px !important;
    }
}